services:
  - type: web
    name: telegram-mp3-to-mp4-bot
    env: python
    buildCommand: ./build.sh
    startCommand: python bot.py
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: DATABASE_URL
        sync: false
